body
	margin: 0

.container
	max-width: 1024px
	margin: auto
	display: flex

header
	height: 45px
	background-color: #f0f2f4
	margin: 0
	padding: 0
	box-shadow: 0 1px 0 0 rgba(226, 226, 226, 1)

	.container
		display: flex
		justify-content: flex-end


	.phone
		display: flex
		align-items: center
		border-right: rgb(226, 226, 226) 1px solid
		padding-right: 20px
		height: 45px

		i
			font-size: 24px
			padding-right: 15px

	.email
		display: flex
		align-items: center

		i
			font-size: 19px
			padding-right: 15px
			padding-left: 15px
	.fb
		display: flex
		align-items: center
		padding-left: 15px

		i
			color: dodgerblue
			font-size: 24px

nav
	.container
		height: 130px
		display: flex
		justify-content: space-between
		align-items: center

		.logo
			display: flex
			align-items: center
			i
				color: rgb(221, 42, 36)
				font-size: 57px
			span
				font-size: 37px
				font-family: Roboto
				font-weight: bold
			.under
				font-size: 15px
				line-height: 1.2
				font-family: Roboto
			.logoname
				margin-left: 10px
		.menu
			display: flex
			align-items: center
			a
				text-decoration: none
				font-family: Roboto
				color: black
				line-height: 1.2
				font-weight: bold
				margin-left: 20px
				margin-right: 20px

				&:hover
					color: #e03933
			i
				font-size: 8px
			button
				border-radius: 4px
				border-color: rgb(222, 43, 36)
				background-color: rgb(222, 43, 36)
				width: 171px
				height: 36px
				color: white
				font-family: Roboto
				font-size: 15px
				font-weight: bold
				line-height: 1.2
				border-style: solid

.banner
	background-image: url(../img/bg.png)
	background-position: bottom
	-webkit-background-size: 100%
	background-size: 100%
	height: 590px
	color: white
	display: flex
	align-items: center
	justify-content: center

	.greeting
		display: flex
		flex-direction: column
		align-items: center
		font-family: Roboto
		h1
			font-size: 48px
			font-weight: normal
			line-height: 1.2
			margin: auto
			margin-bottom: 5px

		span
			font-size: 30px

		button
			margin-top: 25px
			border-style: solid
			text-transform: uppercase
			color: white
			font-weight: 600
			width: 330px
			height: 69px
			border-radius: 6px
			background-color: rgb(248, 205, 83)
			border-color: rgb(248, 205, 83)

.line
	width: 45px
	height: 5px
	background-color: black
	margin-top: 15px

.about
	.container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		font-family: Roboto
		.aboutHead
			margin-top: 80px
			display: flex
			flex-direction: column
			align-items: center

			h2
				font-size: 36px
				font-weight: 400
				margin-bottom: 5px
			span
				font-size: 20px
		.aboutcontent
			display: flex
			justify-content: space-around
			margin-bottom: 80px
			margin-top: 50px
			.aboutItem
				display: flex
				flex-direction: column
				align-items: center
				margin-left: 45px
				margin-right: 45px

				h3
					font-size: 22px
					margin-top: 20px
					margin-bottom: -5px
				p
					text-align: center
					font-size: 13.5px
					line-height: 1.63
.approch
	background-color: #f3f3f3
	padding-bottom: 130px
	.container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		font-family: Roboto
		.headApproch
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			margin-bottom: 20px
			h2
				margin-top: 90px
				font-weight: bold
				font-size: 36px
				margin-bottom: 5px
			span
				font-size: 20px

		.approchItem
			display: flex
			align-items: center
			background-color: #fff
			margin: 20px 0
			.img
				display: flex
				position: relative
				.rectangle
					position: absolute
					right: -50px
					top: 29%
					display: flex
					flex-direction: column
					align-items: center
					justify-content: center
					color: white
					font-size: 20px
					font-family: Georgia
					line-height: 0.35
					width: 100px //Не понимаю почему так? но если поставить 100 то блок получается очень узким (около 42px). С чем связано?
					height: 100px
					background-color: #de2b24
					border: white solid 2px
					border-radius: 3px
					z-index: 222

			.num
				font-size: 60px
				font-weight: bold
				margin-bottom: 28px

			.approchText
				margin: 45px
				margin-left: 80px

		.reverse
			flex-direction: row-reverse
			.rectangle
				right: 0
				left: -50px
			.approchText
				margin-left: 45px
				margin-right: 80px

.work
	background-color: #de2b24
	color: white
	font-family: Roboto
	.container
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		.workHeader
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			margin-bottom: 40px
			margin-top: 80px
			.line
				background-color: white
			span
				margin-top: -15px
				font-weight: 300

		.workContent
			display: flex
			flex-direction: row
			align-content: flex-start
			flex-wrap: wrap
			padding-bottom: 120px

			.workContentEmpty
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
				background-color: #f35e59
				width: 250px
				flex-grow: 1

				i
					font-size: 36px
					line-height: 0.722
				span
					font-size: 26px
					margin-top: 20px
					margin-bottom: -15px
				p
					font-size: 16px
			.workContentImg
				flex-grow: 1
				width: 250px
				img
					width: 100%
					height: 100%

.getintouch
	display: flex
	align-items: center
	flex-direction: column
	justify-content: center
	background-color: #2a2a2a
	padding-top: 80px
	padding-bottom: 80px
	color: white
	font-family: Roboto

	.getintouchImg
		display: flex
		span


		a
			border: #515151 solid 2px
			border-radius: 1px
			width: 45px
			height: 45px
			margin: 12px
			display: flex
			align-items: center
			justify-content: center
			color: white
			text-decoration: none
			&:hover
				border-color: #de2b24

	form
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		color: white
		box-shadow: none

		input
			height: 54px
			width: 683px
			border-color: #4F4F4F
			border-radius: 1px
			background-color: #4F4F4F
			margin-top: 20px
			padding-left: 25px
			color: white
			border-style: solid
			&::placeholder
				color: #CECECE
			&:hover,&:active, &:focus
				border-color: #de2b24
				outline-color: #de2b24


		button
			margin-top: 35px
			width: 153px
			height: 53px
			border: solid 2px rgb(81, 81, 81)
			border-radius: 3px
			background-color: rgba(243, 243, 243, 0)
			color: white
			&:hover,&:active, &:focus
				border-color: #de2b24
				outline-color: #de2b24

footer
	display: flex
	align-items: center
	justify-content: center
	background-color: #515151
	color: #CECECE
	height: 68px

.contact
	display: flex
	flex-direction: column
	align-items: center
	padding: 115px 0
	background-color: #1287BF
	color: white
	font-family: Roboto
	h2
		font-size: 36px
		margin-bottom: -20px
	p
		font-size: 20px
		font-weight: 400
	.open
		width: 62px
		height: 62px
		border: solid 3px white
		border-radius: 50%
		display: flex
		align-items: center
		justify-content: center
		font-size: 45px
	.hidden
		display: none
	.view
		display: flex
	.hidden
		flex-direction: column
		align-items: center
		justify-content: center
		background-color: #fff
		color: #828282
		width: 683px
		padding: 50px 0
		margin-top: 55px
		&:before
			content: ''
			position: absolute
			top: -30px
			width: 0
			height: 0
			border-style: solid
			border-width: 0 32px 30px 32px
			border-color: transparent transparent white transparent
		p
			font-size: 15px
			line-height: 1.467
			text-align: center
		form
			margin-top: 15px
			display: flex
			flex-direction: column
			align-items: center
			input
				width: 447px
				height: 54px
				border: solid 1px #D8D8D8
				border-radius: 4px
				margin-top: 10px
				padding-left: 25px
				&::placeholder
					color: #d0d0d0
				&:hover,&:active, &:focus
					border-color: #1287BF
			button
				background-color: #DE2B24
				color: white
				border-radius: 3px
				width: 161px
				height: 46px
				margin: 40px 0
				font-weight: bold
				line-height: 1.2
				font-size: 15px
				border: none
	.exit
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		top: -25px
		right: -25px
		width: 50px
		height: 50px
		border-radius: 50%
		border: white solid 2px
		background-color: #DE2B24
		i
			color: white
			font-size: 20px

